* {
    box-sizing: border-box;
   font-family: 'Mukta', sans-serif;
 }
 
  body {
   background-image: url(./backgroundImage.webp);
   min-height: 96vh;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 } 
 
 table{
     border-collapse: collapse;
     box-shadow: 0 0 16px white;
     border-spacing:0;
     color:white;
     user-select: none;
     background-color: rgb(29, 25, 25);
 }
 td{
     border: 1px solid transparent;
     border-left:2px solid red;
     border-right: 2px solid red;
     border-bottom:2px solid red;
     text-align: center;
     padding: 5px;
 }
 
 .wrapper{
    text-align: center;
    margin: 0 auto;
    width: 100%;
 }

 .mybuttons{
    display: flex;
    justify-content: center;
    gap: .2rem;
    
 }
 .wall{
    height: 450px;
    width:90%;
    overflow: auto;
    margin: 0 auto;
    border:1px solid transparent;
   
 }
 .wall::-webkit-scrollbar{
    width: .3rem;
    height: .3rem;
 }
 .wall::-webkit-scrollbar-track{
    background: whitesmoke;
    border-radius: 20px;
 }
 .wall::-webkit-scrollbar-thumb{
    background-color: rgb(175, 8, 8);
    cursor: grab;
    border-radius: 20px;

 }
 
 button {
     text-align: center;
     padding:10px 15px;
     background-color: white;
     color: black;
     box-shadow: 0 0 2px #000;
     border: 1px solid transparent;
     font-size: medium;
 
 }
 
 button:hover{
    background-color: rgb(175, 8, 8);
     transition: 0.3s linear;
     transform: scale(0.97);
     box-shadow:  0 0 9px #000, 0 0 14px #000;
     cursor: grab;
 }
 
 input[type="number"]{
    height: 2.5rem; 
    padding: .3rem 1rem;
    margin-bottom: .5rem;
    }

 input[type="number"]:hover{
     background-color: rgb(224, 213, 213);
     color:thick black;
     caret-color:red;
     cursor: grab;
 
 }
 h2{
     color: black;
 }

 @media screen and (max-width:980px){
    input[type="number"]{
        height: 2rem;
    }
    button{
        padding: 6px 10px;
    }
 }

 @media screen and (max-width:600px){
    input[type="number"]{
        height: 1.9rem;
    }
    button{
        padding: 4px 9px;
    }
 }
 @media screen and (max-width:460px){
    .mybuttons{
        flex-direction: column;
    }
    button{
        border-radius: 0 !important;
    }
    input{
        border-radius: 0 !important;
    }
 }

 
 